<body >

  

  <div id='site'>

    <h1 align="center" style="color: lightsalmon; border-left-color: chartreuse">{{title}}</h1>

    <app-telavivi></app-telavivi>

    <div>

      <input placeholder="Email" style='height: 30px' type='text' />

      <app-jogar></app-jogar>

      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>
      <p>Teste de texto de escrita</p>
      <p>chama outra</p>

    </div>

  </div>

</body>